<h2>About Blog Site</h2>

<p>This Blog website was created to explore the wonderful world of Ember.js. This project allows us to create an exciting virtual blog while simultaneously traversing the pathways of the Ember framework! Enjoy ^__^ </p>
